name: Build Docker Image
permissions: {}

on:
  push:
    branches: main

jobs:
  determine-version:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.determine-version.outputs.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # We need fetch-depth of 0 so we also get all the tag metadata
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Determine version information
        shell: bash
        id: determine-version
        run: |
          echo "VERSION=$(git describe --tags --always --match "[0-9][0-9][0-9][0-9].*.*")" | tee -a "${GITHUB_OUTPUT}"

  build:
    uses: docker/github-builder/.github/workflows/build.yml@abff7868c866c54704b6afa9ad5871948ca97334 # v1.1.0
    needs: determine-version
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # required to push to GHCR
    with:
      build-args: |
        BUILDKIT_CONTEXT_KEEP_GIT_DIR=1
        VERSION=${{ needs.determine-version.outputs.version }}
      platforms: linux/amd64,linux/arm64
      output: image
      push: true
      meta-images: |
        ghcr.io/dfunkt/cloudflared
      meta-tags: |
        type=raw,value=latest
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
