name: Build Docker Image
permissions: {}

on:
  push:
    branches: experiment

jobs:
  get_tag:
    runs-on: ubuntu-24.04
    outputs:
      tag: ${{ steps.get-tag.outputs.TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # We need fetch-depth of 0 so we also get all the tag metadata
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Get tag
        shell: bash
        id: get-tag
        run: |
          echo "TAG=$(git describe --tags --always --match "[0-9][0-9][0-9][0-9].*.*")" | tee -a "${GITHUB_OUTPUT}"

  build:
    uses: docker/github-builder/.github/workflows/build.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    needs: get_tag
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # required to push to GHCR
    with:
      build-args: |
        VERSION=${{ needs.get_tag.outputs.TAG }}
      platforms: linux/amd64,linux/arm64
      output: image
      push: true
      meta-images: |
        ghcr.io/dfunkt/cloudflared
      meta-tags: |
        type=raw,value=testing
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
